<div ng-controller="UserListCtrl">
<table class="table table-hover">
      <thead>
        <tr>
          <th>序号</th>
          <th>用户ID</th>
          <th>用户名</th>
          <th>年龄</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in data.users">
          <th>{{$index + 1}}</th>
          <td>{{user.id}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.userAge}}</td>
          <td>
            <a ng-click="delete($index);" class="btn btn-danger">删除</a>
            <a ui-sref="userInfo" class="btn btn-info">查看</a>
          </td>
        </tr>
        
      </tbody>
    </table>
</div>